<html>
<head>
<title>A/V Remote Control</title>
<link href="{{ url_for('static', filename='remote.css') }}" rel="stylesheet" type="text/css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>
<body>
<table>
<tr>
<td>
<center>
<div class="range-slider">
Volume
<br>
<input id="volume-slider" class="input-range" orient="vertical" type="range" step="1" value="25" min="1" max="100">
</div>
<br>
<button id="mute_button">Mute</button><br>
</center>
</td>
<td>
<center>
<button id="receiver_power_button">A/V System On</button><br>
<button id="video_power_button">Video Monitors On</button><br>
<hr>
<button id="mode_fm_button">FM Radio</button><br>
<button id="mode_cast_button">ChromeCast Video</button><br>
<button id="mode_castaudio_button">ChromeCast Audio</button><br>
<button id="mode_table_button">Table HDMI</button><br>
</center>
</td>
</tr>
</table>

<script type="text/javascript">

<!--
'use strict';

var volume_slider = $('#volume-slider');
var mute_button = $("#mute_button");
var receiver_power_button = $("#receiver_power_button");
var mode_fm_button = $("#mode_fm_button");
var mode_cast_button = $("#mode_cast_button");
var mode_castaudio_button = $("#mode_castaudio_button");
var mode_table_button = $("#mode_table_button");

function set_volume_slider(volume)
{
    volume_slider.val(volume);
}

function set_mute_button(is_muted)
{
    // The button requests the opposite of the current state 
    mute_button.html(is_muted ? "Unmute" : "Mute");
    if(is_muted) {
        volume_slider.attr("disabled", "disabled");
    } else {
        volume_slider.removeAttr("disabled");
    }
}

function set_receiver_power_button(is_powered)
{
    // The button requests the opposite of the current state 
    receiver_power_button.html(is_powered ? "A/V System Off" : "A/V System On");

    if(is_powered) {

        volume_slider.removeAttr("disabled");
        mode_fm_button.removeAttr("disabled");
        mode_cast_button.removeAttr("disabled");
        mode_castaudio_button.removeAttr("disabled");
        mode_table_button.removeAttr("disabled");

    } else {

        volume_slider.attr("disabled", "disabled");
        mode_fm_button.attr("disabled", "disabled");
        mode_cast_button.attr("disabled", "disabled");
        mode_castaudio_button.attr("disabled", "disabled");
        mode_table_button.attr("disabled", "disabled");
    }
}

function set_interface_from_status(status)
{
    set_volume_slider(status['volume']);

    var is_muted = !(status['muting'] === 'off');
    set_mute_button(is_muted)

    var is_receiver_powered = (status['receiver_power'] === 'on');
    set_receiver_power_button(is_receiver_powered)
}

function set_param(thing, value)
{
    $.ajax({
        type:"PUT",
        beforeSend: function (request)
        {
            //request.setRequestHeader("Authority", authorizationToken);
            request.setRequestHeader("Content-type","application/json");
            request.setRequestHeader("Accept","application/json");
        },
        url: /* APP.event_base_url + */ "set/" + thing,
        data: JSON.stringify({'value': value}),
        processData: false,
        success: function(data, status, xhr) {
            var av_status = JSON.parse(data);

            set_interface_from_status(av_status);
        }
    });
}

function update_status()
{
    $.ajax({
        type:"GET",
        beforeSend: function (request)
        {
            //request.setRequestHeader("Authority", authorizationToken);
            request.setRequestHeader("Content-type","application/json");
            request.setRequestHeader("Accept","application/json");
        },
        url: /* APP.event_base_url + */ "status",
        processData: false,
        success: function(data, status, xhr) {
            var av_status = JSON.parse(data);

            set_interface_from_status(av_status);
        }
    });
}
    
volume_slider.on('input', function(){
    console.log("set volume " + this.value);
    set_param('volume', this.value);
});

mute_button.on('click', function(){
    var is_muting = !(mute_button.html() === "Mute");
    var want_muting = !is_muting
    console.log("set muting " + want_muting);
    set_param('muting', want_muting ? "on" : "off")
    set_mute_button(want_muting);
});

receiver_power_button.on('click', function(){
    var is_powered = !(receiver_power_button.html() === "A/V System On");
    var want_power = !is_powered
    console.log("set A/V power " + want_power);
    set_param('receiver_power', want_power ? "on" : "off")
    set_receiver_power_button(want_power);
});

var startup_status_json = '{{ startup_status|safe }}';

var startup_status = JSON.parse(startup_status_json);

set_interface_from_status(startup_status);

setInterval(update_status, 1000);

// -->
</script>

</body>
</html>
