<html>
<head>
<title>A/V Remote Control</title>
<link href="{{ url_for('static', filename='remote.css') }}" rel="stylesheet" type="text/css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>
<body>
<table>
<tr>
<td>
<center>
<div class="range-slider">
Volume
<br>
<input id="volume-slider" class="input-range" orient="vertical" type="range" step="1" value="25" min="1" max="100">
</div>
<br>
<button id="mute_button">Mute</button><br>
</center>
</td>
<td>
<center>
<button id="receiver_power_button">A/V System On</button><br>
<!--button id="video_power_button">Video Monitors On</button><br-->
<hr>
<button id="mode_fm_button">FM Radio</button><br>
<button id="mode_castvideo_button">ChromeCast Video</button><br>
<button id="mode_table_button">Table HDMI</button><br>
<button id="mode_bluetooth_button">Bluetooth</button><br>
<hr>
<input type="checkbox" id="replace_audio_checkbox">
<label for=replace_audio_checkbox"><small>ChromeCast Audio</small></label>
</center>
</td>
</tr>
</table>

<script type="text/javascript">

<!--
'use strict';

var volume_slider = $('#volume-slider');

var mute_button = $("#mute_button");

var receiver_power_button = $("#receiver_power_button");

var mode_fm_button = $("#mode_fm_button");
var mode_castvideo_button = $("#mode_castvideo_button");
var mode_bluetooth_button = $("#mode_bluetooth_button");
var mode_table_button = $("#mode_table_button");

var replace_audio_checkbox = $("#replace_audio_checkbox");

function set_volume_slider(volume)
{
    volume_slider.val(volume);
}

function set_disabled(input_mode)
{
    var is_receiver_powered = (receiver_power_button.html() === "A/V System Off");
    var is_muted = !(mute_button.html() === "Mute");

    if(!is_receiver_powered || is_muted) {
        volume_slider.attr("disabled", "disabled");
    } else {
        volume_slider.removeAttr("disabled");
    }

    if(is_receiver_powered) {

        mute_button.removeAttr("disabled");
        mode_fm_button.removeAttr("disabled");
        mode_castvideo_button.removeAttr("disabled");
        mode_table_button.removeAttr("disabled");
        mode_bluetooth_button.removeAttr("disabled");

	replace_audio_checkbox.removeAttr("disabled")

// "ChromeCast Video" : 1,
// "Table HDMI" : 2,
// "FM Radio" : 3,
// "Bluetooth" : 4,
	if(input_mode == "ChromeCast Video") {
            mode_castvideo_button.attr("disabled", "disabled");
	    replace_audio_checkbox.removeAttr("disabled");
        } else if(input_mode == "Table HDMI") {
            mode_table_button.attr("disabled", "disabled");
	    replace_audio_checkbox.removeAttr("disabled");
        } else if(input_mode == "Bluetooth") {
            mode_bluetooth_button.attr("disabled", "disabled");
	    replace_audio_checkbox.attr("disabled", "disabled");
        } else if(input_mode == "FM Radio") {
            mode_fm_button.attr("disabled", "disabled");
	    replace_audio_checkbox.attr("disabled", "disabled");
	} else {
	    replace_audio_checkbox.attr("disabled", "disabled");
	}

    } else {

        mute_button.attr("disabled", "disabled");

        mode_fm_button.attr("disabled", "disabled");
        mode_castvideo_button.attr("disabled", "disabled");
        mode_table_button.attr("disabled", "disabled");
        mode_bluetooth_button.attr("disabled", "disabled");

        replace_audio_checkbox.attr("disabled", "disabled");
    }
}

function set_mute_button(is_muted)
{
    // The button requests the opposite of the current state 
    mute_button.html(is_muted ? "Unmute" : "Mute");
}

function set_receiver_power_button(is_powered)
{
    // The button requests the opposite of the current state 
    receiver_power_button.html(is_powered ? "A/V System Off" : "A/V System On");
}

function set_replace_audio_checkbox(is_replaced)
{
    console.log("audio is replaced " + is_replaced)
    if(is_replaced)
        replace_audio_checkbox.attr("checked", "checked");
    else
        replace_audio_checkbox.removeAttr("checked");
}

function set_interface_from_status(status)
{
    set_volume_slider(status['volume']);

    var is_muted = !(status['muting'] === 'off');
    set_mute_button(is_muted)

    var is_receiver_powered = (status['receiver_power'] === 'on');
    set_receiver_power_button(is_receiver_powered)

    var audio_is_replaced = (status['replace_audio'] === 'on');
    set_replace_audio_checkbox(audio_is_replaced)

    console.log(status['mode']);
    set_disabled(status['mode']);
}

var status_sequence = 0;

function set_param(thing, value)
{
    status_sequence += 1;
    var s = status_sequence;
    $.ajax({
        type:"PUT",
        beforeSend: function (request)
        {
            //request.setRequestHeader("Authority", authorizationToken);
            request.setRequestHeader("Content-type","application/json");
            request.setRequestHeader("Accept","application/json");
        },
        url: /* APP.event_base_url + */ "set/" + thing,
        data: JSON.stringify({'value': value}),
        processData: false,
        success: function(data, status, xhr) {
	    if(status_sequence == s) {
		var av_status = JSON.parse(data);
		set_interface_from_status(av_status);
	    }
        }
    });
}

function update_status()
{
    status_sequence += 1;
    var s = status_sequence;
    $.ajax({
        type:"GET",
        beforeSend: function (request)
        {
            //request.setRequestHeader("Authority", authorizationToken);
            request.setRequestHeader("Content-type","application/json");
            request.setRequestHeader("Accept","application/json");
        },
        url: /* APP.event_base_url + */ "status",
        processData: false,
        success: function(data, status, xhr) {
	    if(status_sequence == s) {
		var av_status = JSON.parse(data);
		set_interface_from_status(av_status);
	    }
        }
    });
}
    
volume_slider.on('input', function(){
    console.log("set volume " + this.value);
    set_param('volume', this.value);
});

mute_button.on('click', function(){
    var is_muted = !(mute_button.html() === "Mute");
    var want_muting = !is_muted
    console.log("set muting " + want_muting);
    set_param('muting', want_muting ? "on" : "off")
    set_mute_button(want_muting);
});

receiver_power_button.on('click', function(){
    var is_powered = (receiver_power_button.html() === "A/V System Off");
    var want_power = !is_powered
    console.log("set A/V power " + want_power);
    set_param('receiver_power', want_power ? "on" : "off")
    set_receiver_power_button(want_power);
});

// "ChromeCast Audio" : 0,
// "ChromeCast Video" : 1,
// "Table HDMI" : 2,
// "FM Radio" : 3,
// "Bluetooth" : 4,
// var mode_fm_button = $("#mode_fm_button");
// var mode_castvideo_button = $("#mode_castvideo_button");
// var mode_table_button = $("#mode_table_button");
// var mode_bluetooth_button = $("#mode_bluetooth_button");

mode_fm_button.on('click', function(){
    var s = "FM Radio";
    console.log("set mode " + s);
    set_param('mode', s);
    set_disabled(s);
});

mode_bluetooth_button.on('click', function(){
    var s = "Bluetooth";
    console.log("set mode " + s);
    set_param('mode', s);
    set_disabled(s);
});

mode_table_button.on('click', function(){
    var s = "Table HDMI";
    console.log("set mode " + s);
    set_param('mode', s);
    set_disabled(s);
});

mode_castvideo_button.on('click', function(){
    var s = 'ChromeCast Video';
    console.log("set mode " + s);
    set_param('mode', s)
    set_disabled(s)
});

replace_audio_checkbox.on('click', function(){
    var enabled = replace_audio_checkbox[0].checked;
    var s = 'ChromeCast Audio';
    console.log("set mode " + s + " " + enabled + " " + (enabled ? "enabled" : "disabled"));
    set_param('replace_audio', (enabled ? "on" : "off"))
    set_disabled(s)
});

var startup_status_json = '{{ startup_status|safe }}';

var startup_status = JSON.parse(startup_status_json);

set_interface_from_status(startup_status);

setInterval(update_status, 1000);

// -->
</script>

</body>
</html>
